* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#guessDiv {
  display: flex;
  flex-direction: column;
}

#colorBoard {
  display: flex;
  flex-direction: row;
}

.guessRow{
  display: flex;
  width: 300px;
  height: 60px;

}

.oneColor, .colorBox{
  border: solid black 1px;
  background-color: white;
  display: inline;
  width: 50px;
  height: 50px;
  margin: 0 5px;
}
