* {
  box-sizing: border-box;
}

body {
  background-image: url(../Images/background.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#guessDiv {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 10px;
}

#colorBoard {
  display: flex;
  flex-direction: row;
}

.guessRow{
  display: flex;
  width: 300px;
  height: 60px;
}

.logo {
  position: absolute;
  left: 25px;
  top: 25px;
  width: 250px;
}

.oneColor, .colorBox{
  border: solid black 1px;
  background-color: white;
  display: inline;
  width: 50px;
  height: 50px;
  margin: 0 5px;
}

.Sun-GIF {
  position: absolute;
  right: 25px;
  top: 25px;
}

.Rainbow {
  position: absolute;
  top: 550px;
}
