* {
  box-sizing: border-box;
}

body {
  background-image: url(../Images/background.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

body p {
  background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: 'Rock Salt', cursive;
  font-size: xx-large;
  font-weight: bolder;
  margin-left: 20px;
}

button {
  background-image: linear-gradient(to left, violet, indigo, green, blue, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  border: none;
  font-family: 'Rock Salt', cursive;
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
}

input {
  background-image: linear-gradient(to left, violet, indigo, green, blue, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  border: outset;
  font-family: 'Rock Salt', cursive;
  font-size: large;
  font-weight: bold;
  margin-top: 30px;
}

label {
  background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: 'Rock Salt', cursive;
  font-size: xx-large;
  font-weight: bolder;
}

#guessDiv {
  background-color: #B0D3F8;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 0;
}

#userName {
  position: fixed;
  margin: auto;
  margin-top: 450px;
  width: 475px;
  /* margin-top: 300px;
  width: 475px; */
}

#colorBoard {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.guessRow{
  display: flex;
  width: 300px;
  height: 60px;
}

.logo {
  position: fixed;
  left: 25px;
  top: 25px;
  width: 250px;
}

.oneColor, .colorBox{
  border: solid black 1px;
  background-color: white;
  display: inline;
  width: 50px;
  height: 50px;
  margin: 0 5px;
}

.Sun-GIF {
  position: fixed;
  right: 25px;
  top: 25px;
}

.Rainbow {
  position: absolute;
  top: 450px;
  height: 90%;
  width: 100%;
  object-fit: cover;
  margin-top: 35px;
}
